<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="adicionar(); $event.preventDefault()">
    <div *ngIf="!marcaId">
      <ion-item>
        <ion-input
          label="Id" 
          formControlName="id"
          labelPlacement="floating"
          placeholder="Digite Id"></ion-input>
      </ion-item>    
    </div>   
      <ion-item>
        <ion-input
         label="Nome"
         formControlName="nome"
         labelPlacement="floating"
         placeholder="Digite o nome"></ion-input>
      </ion-item>
      <div #minhaDiv>   
      <ion-button color="primary" size="medium">
        <input  type="file" accept="image/*" (change)="fileInputLogo($event)" />
      </ion-button>
    </div>
    <ion-item>
      <ion-button type="submit">Cadastrar</ion-button>
    </ion-item>    
  </form>  
</ion-content>