<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="adicionar()">
    <div >
      <ion-item>
        <ion-input 
          label="Id" 
          formControlName="id" 
          labelPlacement="floating" 
          placeholder="Digite Id">
      </ion-input>
      </ion-item>
    </div>
    <ion-item>
      <ion-input 
          label="Nome" 
          formControlName="nome" 
          labelPlacement="floating" 
          placeholder="Digite o nome">
      </ion-input>
    </ion-item>
    <div>
      <ion-button color="primary" size="medium">
        <input 
          #myFileInput
          id="file" 
          type="file" 
          accept="image/*" 
          (change)="fileInputLogo($event)"/>
      </ion-button>
    </div>      
      <ion-button color="success" expand="block" type="submit" [disabled]="!formGroup.valid">Cadastrar</ion-button>    
     </form>
</ion-content>